<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--<settings>-->
    <!--</settings>-->
    <!-- 开启驼峰命名转换 Table(create_time) -> Entity(createTime) -->
    <!--<setting name="mapUnderscoreToCamelCase" value="true"/>-->
    <settings>
        <setting name="callSettersOnNulls" value="true"/>
    </settings>

    <!--自定义map结果集处理器-->
    <objectWrapperFactory type="com.mmd.mmdapp.plugin.ObjWrapperFactory"></objectWrapperFactory>

    <plugins>
        <plugin interceptor="com.github.pagehelper.PageHelper">
            <property name="dialect" value="mysql"/>
            <!--<property name="reasonable" value="true"/> &lt;!&ndash;分页参数合理化， pageNum<1,默认查询第一页， pageNum>totalPage默认查询最后一页&ndash;&gt;-->
        </plugin>
    </plugins>
</configuration>